:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --default-spacing: 10px;
  --default-margin: 1rem;
  --medium-margin: 3rem;
  --larger-margin: 5rem;
  --primary-color: #7676d7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  color: var(--primary-color);
}

.hide {
  display: none
}

.show {
  display: flex
}

/* common css starts */

h1 {
  color: #124723 !important;
  text-align: center;
  margin-top: 30px !important;
}

select {
  padding: 10px 30px;
  border: 2px solid #647f2a;
  color: #647f2a;
  border-radius: 8px;
  background-image: url(./flecha.png);
  /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 95% center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 10px 20px !important; 
}

select::-ms-expand {
  display: none;
  /*Evita que se muestre la flecha por defecto en versiones de IE*/
}
.logo{
  max-width: 100px;
  border-radius: 50%;
}
header{
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.images {
  max-width: 1550px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto; 
  padding: 50px 10px;
  gap: 20px;
  margin: 0 auto;
}
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; 
}

@media (max-width:1024px){
  .images{
      grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width:728px){
  .images{
      grid-template-columns: repeat(3, 1fr);
  }
  .search-section {
    flex-direction: column;
   align-items: unset;
  }
}
@media (max-width:520px){
  .images{
      grid-template-columns: repeat(2, 1fr);
  }
  .search-section {
    flex-direction: column;
   align-items: unset;
  }
}
.image {
  border-radius: 20px;
  height: 250px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-margin);
  margin-top: var(--medium-margin);
  margin-bottom: var(--larger-margin);
}

.buttons .btn,
.buttons .btn:active,
.buttons .btn:focus {
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary-color);
  box-shadow: none;
  outline: none;
}

.error-msg {
  color: #ff0000;
  text-align: center;
}

.loading {
  color: #6565d4;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

 